<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>

</header>
<div id='body'>
<%- include partials/sidebar.ejs %>

	<div id="yourContent">
		<div class="header"><%=username%>'s Notebooks</div>
		<div class="content">
		  <%- include partials/results.ejs %> 
			<div id="nContainer"></div>
		</div>
	</div>
</div>

	<div id="theirContent">
		<div class="header">Notebooks Shared With You:</div>
		<div class="content">
		<%- include partials/homeresults.ejs %> 
			<div id="nContainer"></div>
		</div>
	</div>
</div>



</div>

<%- include partials/foot.ejs %>




